
<!DOCTYPE html>
<html lang="en"><!--
login
-->

 <style>

 body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        /* background-image: url("https://preview.ibb.co/mybhcS/background.png");*/
		   background-image: url("https://image.ibb.co/gpHrNS/backgroundwebsite.png" );
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        }

</style>


<form  method="POST" action="/signin">
<input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">

<div >
  <div class="row">
    <div width="100%">
        <img src="https://preview.ibb.co/f6Fprn/logo_1.png" alt="logo_1" width="35%"  style=" display:table-cell; vertical-align:middle; text-align:center; margin: 0 auto;">
    </div>

  <div class="card card-signup content col s10 m6 " style="float: none !important; margin: 0 auto;"  >
    <form class="col s12"  method="POST">
      <br/>
      <div  style="width: 90%; margin: 0 auto;" >
      <h4 class="center-align">Welcome</h4>
      <p class="center-align">
        LOGIN NOW
      </p>
       <%= if !is_nil(get_flash(@conn, :info) ) do %>
		<div class="materialert success" id="materialert">
		    <i class="material-icons">check_circle</i> <span><%= get_flash(@conn, :info) %></span>
		    <button type="button" onclick="hideAlert();"  class="close-alert">×</button>
		</div>
        <%end%>

        <%= if !is_nil(get_flash(@conn, :error) ) do %>
		<div class="materialert error" id="materialert">
		    <i class="material-icons">error</i> <span><%= get_flash(@conn, :error) %></span>
		    <button type="button" onclick="hideAlert();"  class="close-alert">×</button>
		</div>
        <%end%>
      <br/>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate" autofocus="true">
          <label for="email">EMAIL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" name=password class="validate">
          <label for="password">PASSWORD</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <button class="btn-large waves-effect waves-light" style="background-color: #ee226f;" type="submit" name="action">
            LOG IN
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a href="/auth/facebook" class="waves-effect waves-light btn-large social facebook">
        <i class="fa fa-facebook"></i> Sign in with facebook</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a href="/recover">Forgot password?</a>
        </div>
      </div>
       <div class="row">
        <div class="col s12 center-align">
          <a href="/register">Register Now!</a>
        </div>
        <br>
        <br>
      </div>
     </div>
    </form>
  </div>
</div>
</div>
</form>
</html>

<script>

$("nav").hide()
$(".new-footer").hide()
</script>
