<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Hello Daeventbox!</title>
   <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
         
   <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <script src="https://maps.googleapis.com/maps//jsvv=3.exp&sensor=false&libraries=places"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
   <style>
   .truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
   nav{
      background: linear-gradient(#1d76d6,#4dc9ff); 
    /*background-color: #2999c6;  */
    
   }
   h4{
       color: #10263f;
   }
   .btn{
     background-color: #ee226f;
   }
   body{
         /*background-color: #f2f2f2; */
         background-color:
       -webkit-background-size: cover;
		   -moz-background-size: cover;
		   -o-background-size: cover;
		  /*  background-image: url("https://preview.ibb.co/e3DKr7/backgroundwebsitegeneralgrey.jpg" ); */
		   background-repeat: no-repeat;
		   background-position: center center;
		   background-attachment: fixed;
		   background-size: cover;
   }
 @media (max-width: 600px) {
  .brand-logo img {
    height: 56px;
    
  }}
   </style>
   <script>
        $(document).ready(function() {
           $('select').material_select();
           $(".button-collapse").sideNav();

          
        });           
   </script>
 </head>
 <body>
   <div >
     <header class="header">
      <div class="navbar-fixed">

       <nav role="navigation" >
       <div class="nav-wrapper nav">
       
       <a href="#" class="brand-logo">  
       <img src="https://preview.ibb.co/exb7u7/daeventlogo2.png" alt="daeventlogo2" border="0" class="brand-logo">
       </a>
      
         <ul id = "javaDropDown" class = "dropdown-content">
              <li><a href = "/event/create">Create Event</a></li>
               <li><a href = "/facilitator/manage">Manage Events</a></li>
                <li class = "divider"></li>
              <li><a href = "/ad/view/all">Manage ADs</a></li>
        </ul>
          <ul id = "javasDropDown" class = "dropdown-content">

              <li><a href = "/event/upcoming">Upcoming Events</a></li>
              <li class = "divider"></li>
              <li><a href = "/event/facilitators">Event Organizers</a></li>
        </ul>
        <ul id = "userdropdown" class = "dropdown-content">
              <li><a href="/notify" onclick="return removenum();" ><i class="material-icons">notifications</i><div id="notificationnum"></div></a></li>
              
              <li><a href="/chat/start"><i class="material-icons">mail</i><span class="new badge">1</span></a></li>

              <li class = "divider"></li>
              <li><a href = "/facilitator/profile">Profile</a></li>

              <li><a href = "/account/settings">Account settings</a></li>
              <li><a href = "/logout">Logout</a></li>
        
        </ul>
         <ul class=" nav-pills right hide-on-med-and-down" id="nav-mobile" >

           
           <%= if @conn.cookies["daeventboxmode"] == "Guest" and @conn.cookies["daeventboxuser"] do %>
              <li><a href="/">Home</a></li>
              <!--
                <li>
                 <div class = "col s12 m12 l12">
                    <ul id = "nav-mobile" class = "right hide-on-med-and-down">                   
                            
                            <li><a class = "dropdown-button" href = "#!"
                            data-activates = "javaDropDown">Your Events<i class = "material-icons
                            right">arrow_drop_down</i></a></li>
                    </ul>    
          
                 </div>
                </li>
                -->
                 
                <li>
                 <div class = "col s12 m12 l12">
                    <ul id = "nav-mobile" class = "right hide-on-med-and-down">                   
                            
                            <li><a class = "dropdown-button" href = "#!"
                            data-activates = "javasDropDown">Events<i class = "material-icons
                            right">arrow_drop_down</i></a></li>
                    </ul>    
          
                 </div>
                </li>
                
                <li><a href="/event/manage">Manage Your Events</a></li>

                <li>
                 <div class = "col s12 m12 l12">
                    <ul id = "nav-mobile" class = "right hide-on-med-and-down">                   
                            <!-- Dropdown Trigger -->
                            <li><a class = "dropdown-button" href = "#!"
                            data-activates = "userdropdown">
                            <%= unless is_nil(@conn.assigns[:current_user]) do %>
                              <%= @conn.assigns[:current_user].firstname %>
                            <% end %>
                            <i class = "material-icons
                            right">arrow_drop_down</i></a></li>
                    </ul>    
          
                 </div>
                </li>

               <li><a href="/facilitator/change/mode">Switch to Facilitator Mode<a><li>
               
           <%end%>
           
            <%= if @conn.cookies["daeventboxmode"] == "Facilitator" and @conn.cookies["daeventboxuser"] do %>
              <li><a href="/facilitator">Home</a></li>
               <li>
                 <div class = "col s12 m12 l12">
                    <ul id = "nav-mobile" class = "right hide-on-med-and-down">                   
                            <!-- Dropdown Trigger -->
                            <li><a class = "dropdown-button" href = "#!"
                            data-activates = "javaDropDown">Events<i class = "material-icons
                            right">arrow_drop_down</i></a></li>
                    </ul>    
          
                 </div>
                </li>

                <li>
                 <div class = "col s12 m12 l12">
                    <ul id = "nav-mobile" class = "right hide-on-med-and-down">                   
                            <!-- Dropdown Trigger -->
                            <li><a class = "dropdown-button" href = "#!"
                            data-activates = "userdropdown"> <%= unless is_nil(@conn.assigns[:current_user]) do %>
                              <%= @conn.assigns[:current_user].firstname %>
                            <% end %><i class = "material-icons
                            right">arrow_drop_down</i></a></li>
                    </ul>    
          
                 </div>
                </li>
               <li><a href="/facilitator/change/mode">Switch to Guest Mode<a><li>        
               
           <%end%>

            <%= unless @conn.cookies["daeventboxmode"] do %>

               <li><a href="/register">Register<a><li>
               <li><a href="/login">Login<a><li>
           <%end%>
         </ul>
       </nav>
        </div>
       <span class="logo"></span>
     </header>
    <div class="alerts">
     <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
     <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    
    </div>
     <main role="main">
       <%= render @view_module, @view_template, assigns %>
     </main>
   </div>
   </div> <!-- /container -->
   <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

 <script>
     function removenum () {
             console.log("in je");
                $('#notificationnum').html('');
              var myKeyVals = { seen : true}

              var saveData = $.ajax({

                    type: 'GET',
                    url: "/notify/send",
                    data: myKeyVals,
                    dataType: "text",
                    success: function(resultData) { alert("Save Complete") }
              });
              saveData.error(function() { alert("Something went wrong"); });

            }
    $(document).ready(function(){
          function load_unseen_notification(view = '')
          {
            $.ajax({
             url:"/notify/send",
             method:"GET",
             data:{view:view},
             dataType:"json",
             success:function(data)
             {
              console.log("in here")
              console.log(data);
              $('.notif-content').html(data.notification);
              if(data.unseen_notification > 0)
              {
                $('#notificationnum').html('<span class="new badge" id="notificationnum">' + data.unseen_notification + '</span>');
                notify();
              }
             }
            });
          }
          
          // load_unseen_notification();
          
          $(document).on('click', '#notificationnum', function(){
            $('#notificationnum').html('<i class="material-icons " >notifications  </i>');
            });
          setInterval(function(){
              load_unseen_notification();
            }, 100000);
            function notify(view = '')
            {
              if(window.Notification && Notification.permission !== "denied") {
              	Notification.requestPermission(function(status) {  // status is "granted", if accepted by user
              		var n = new Notification('Daeventbox', {
              			body: 'New Notifications! Check them now!',
              			icon: '/path/to/icon.png' // optional
              		});
              	});
              }
            }
          });
    </script>


</body>
</html>

