<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MMS Verification Email</title>
</head>
<body style="margin:0px; background: #f8f8f8; ">
<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
  <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
      <tbody>
        <tr>
          <td style="vertical-align: top; padding-bottom:30px;" align="center">
              <a href="javascript:void(0)" target="_blank">
                <img src="https://preview.ibb.co/exb7u7/daeventlogo2.png" alt="Ticket Email" style="border:none">
              </a>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
      <tbody>
        <tr>
          <td style="background:#00c0c8; padding:20px; color:#fff; text-align:center;">Your Ticket To <%= data["ticket"].event.title %>! </td>
        </tr>
      </tbody>
    </table>
    <div style="padding: 40px; background: #fff;">
      <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
          <tr>
            <td>
               <p>Date: <%= Timex.format!( data["ticket"].event.start_date, "%d %b, %Y", :strftime) %> </p>
               <p>Time: <%= Timex.format!( data["ticket"].event.start_time, "%I:%M %p", :strftime)   %></p>
               <p>Purchased By: <%= data["user"].firstname %> <%= data["user"].lastname %></p>
               <p>Location: <%= data["ticket"].event.location %></p>
               <p>Ticket:  <%= data["ticket_details"].name %>  </p>
               <p>Price: <%= if data["ticket_details"].price do                             
                 CurrencyFormatter.format(Float.to_string(data["ticket_details"].price, decimals: 2 ) |> String.replace(".", "") |> String.to_integer, "JMD", disambiguate: true)
                else "FREE" end %> </p>
              <center>
                <img src="<%= data["ticket"].ticket_url %>"/>
              </center>
              <b>- Thanks (DaEventBox Team)</b> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
